*{
    margin: 0;
    padding: 0;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(118, 142, 162);
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-section{
    display: flex;
    flex-direction: column;
    color: blanchedalmond;
    font-size: large;
}
.section-1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.section-2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

div{
    height: 280px;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
}

div:hover{
    transition: all 0.6s;
    border: 4px solid aquamarine;
}

.card-one{
    background-color: cornflowerblue;
}
.card-two{
    background-color: pink;
}
.card-three{
    background-color: darkorchid;
}
.card-four{
    background-color:rgb(141, 47, 97);
}
.card-five{
    background-color: rgb(12, 12, 55);
}

button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: blanchedalmond;
    font-weight: 600;
    font-size: medium;
    text-align: center;
}
button:hover{
    background-color: black;
    color: blanchedalmond;
    cursor: pointer;
    transition: all 0.5s;
}

@media screen and (max-width: 450px) {
    div{
        width: 95px;
        height: 100px;
    }
   
    .section-1{
        padding-left: 4px;
        padding-right: 4px;
    }
}